<div class="sidebar-brand" style="padding-top: 20px; margin-bottom: 30px; padding-left: 10px;">
    <div style="display: flex !important; flex-direction: row !important; align-items: center !important; gap: 15px; margin-bottom: 15px;">
        <img src="/static/assets/Logo - Unud.png" 
             alt="Logo Udayana" 
             style="height: 48px !important; width: auto; object-fit: contain;">

        <img src="/static/assets/Logo - Fmipa.png" 
             alt="Logo FMIPA" 
             style="height: 55px !important; width: auto; object-fit: contain;">
    </div>

    <h2>SIPEKA</h2>
    <h2>MAHASISWA</h2>
</div>

<nav>
    <a class="nav-link" href="/mahasiswa/dashboard">
        <span class="material-icons menu-icon">dashboard</span> 
        Dashboard
    </a>

    <a class="nav-link" href="/mahasiswa/tes">
        <span class="material-icons menu-icon">history</span>
        Mulai Tes
    </a>


    <a class="nav-link" href="/mahasiswa/riwayat">
        <span class="material-icons menu-icon">history</span>
        Riwayat Tes
    </a>

    <a class="nav-link" href="/mahasiswa/profil">
        <span class="material-icons menu-icon">account_circle</span>
        Profil
    </a>
</nav>